@use '@/sass/abstracts' as *;

.currencyCard {
  padding: 5rem 2rem;
  box-shadow: var(--box-shadow);
}

.currencyWrapper {
  @include flex-config($direction: column, $align: center);
  gap: 5rem;

  @include mq(md) {
    flex-direction: row;
  }
}

.currencyFrom,
.currencyTo {
  @include flex-config($direction: column);
  gap: 1rem;
  width: 80%;

  @include mq(md) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.searchInputWrapper {
  @include flex-config($justify: center);
  margin-bottom: 3rem;

  @include mq(md) {
    margin-bottom: 6rem;
  }
}
