/*  .swiper {
  margin: 100px auto;
  width: 420px;
  height: 340px;
} */

.swiper-slide {
  /*   font-size: 22px; */
  font-weight: bold;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mySwiper2 {
  margin: 100px auto;

  height: 500px;
}
