@use '@/sass/abstracts' as *;

.swiper {
  width: auto;
  height: 40rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  overflow: visible !important;

  /* Center slide text vertically */
  @include flex-config($justify: center, $align: center);
}

.swiper-slide img {
  display: block;
  width: 18rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 1rem;
}

.swiper-slide {
  width: auto;
  height: auto;
}

.swiper-button-prev {
  top: 37rem !important;
}

.swiper-button-next {
  top: 37rem !important;
  left: 15rem !important;
}
