@use '@/sass/abstracts' as *;

.weatherList {
  display: flex;
  gap: 1rem;
}

.weatherListItem {
  font-size: 1.5rem;
  cursor: pointer;
}

.active {
  border-bottom: 1px solid hsl(0, 0%, 0%);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5rem;
  justify-items: center;
  margin-top: 5rem;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
