@use '@/sass/abstracts' as *;

.suggestionListItem {
  font-size: 1.2rem;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;

  &:not(:first-of-type) {
    margin-top: 1rem;
  }
}

.suggestionListItemWrapper {
  @include flex-config($align: center);
}

.activeSuggestion {
  background-color: var(--clr-blue-400);
  font-weight: var(--fw-bold);
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  transform: scale(1.1);
}

.listItemSpan {
  margin-left: 1rem;
}
