@use '@/sass/abstracts' as *;

.searchInput {
  color: hsl(0, 0%, 37%);
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 1.8rem;

  &:focus {
    outline: 3px solid hsl(210, 62%, 77%);
  }
}

.searchInputBgDark {
  background-color: hsl(0, 0%, 97%);
}

.inputWrapper {
  display: inline-block;
  position: relative;
}

.searchIcon {
  @include position($pos: absolute, $top: 0.5rem, $right: 1rem);
  background-color: hsla(180, 74%, 70%, 0.4);
  font-size: 1.5rem;
  padding: 0.8rem;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  box-shadow: hsla(0, 0%, 0%, 0.2) 0px 7px 29px 0px;
  cursor: pointer;

  &:hover {
    background-color: hsla(180, 74%, 70%, 0.9);
  }
}

.suggestionList {
  @include position($pos: absolute, $top: 5rem);
  width: 100%;
  max-height: 20rem;
  background-color: var(--clr-gray-200);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2rem;
  border-radius: 1.8rem;
  z-index: 10;
}

.suggestionListItem {
  font-size: 1.2rem;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;

  &:not(:first-of-type) {
    margin-top: 1rem;
  }
}

.suggestionListItemWrapper {
  @include flex-config($align: center);
}

.activeSuggestion {
  background-color: var(--clr-blue-400);
  font-weight: var(--fw-bold);
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  transform: scale(1.1);
}

.listItemSpan {
  margin-left: 1rem;
}

.error {
  @include position($pos: absolute, $bottom: -2rem, $left: 2rem);
  color: var(--clr-danger);
}
