@use '@/sass/abstracts' as *;

.error {
  font-size: 1.4rem;
}

.card {
  width: 100%;
  box-shadow: var(--box-shadow);

  @include mq(lg) {
    width: 40%;
  }
}

.cardHeadingsWrapper {
  @include flex-config($align: center);
  padding: 4rem 2rem;

  @include mq(lg) {
    padding: 6rem 2rem;
  }
}

.icon {
  font-size: 4rem;
  color: var(--clr-gray-200);
}

.headings {
  color: var(--clr-gray-200);
  font-weight: var(--fw-normal);
  margin-left: 2rem;
}

.cardHeading {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.cardSubheading {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.cardMain {
  @include flex-config($direction: column, $align: center);
  padding: 6rem 3rem;
}

.cardMainHeading {
  font-size: 2rem;
}

.valuesWrapper {
  @include flex-config($direction: column, $justify: space-between, $align: center);
  width: 100%;
  gap: 3rem;
  margin-top: 5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 2rem;

  @include mq(sm) {
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
  }

  @include mq(md) {
    padding: 2rem;
  }
}

.value {
  @include flex-config($align: center);
  gap: 3rem;
}

.dot {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transform: scale(1);
  animation: pulse 2s infinite;
}

.qualityValue {
  position: relative;
  font-size: 4rem;

  @include mq(sm) {
    &::after {
      content: '';
      @include position($pos: absolute, $left: 14rem);
      border-right: 2px solid hsl(0, 0%, 0%);
      height: 100%;

      @include mq(lg) {
        left: 12rem;
      }
    }
  }
}

.qualityDescription {
  text-align: center;

  @include mq(sm) {
    width: 50%;
    text-align: left;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}
