@use '@/sass/abstracts' as *;

.tableWrapper {
  width: 100%;

  @include mq(md) {
    flex: 1;
  }
}

.table {
  width: 30%;
  border-collapse: collapse;
  width: 100%;
  color: hsl(0, 0%, 20%);
  margin: 2rem 0;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.tableHeader {
  background-color: hsl(0, 0%, 96%);
  font-weight: bold;
  padding: 2rem;
  text-align: left;
  border-right: 1px solid hsl(0, 0%, 80%);
}

.tableData {
  width: 16.67%;
  padding: 1rem;
  text-align: left;
  border: 1px solid hsl(0, 0%, 80%);
  border-right: 1px solid #ccc;
}

.tableRow:last-child .tableData {
  border-bottom: none;
}

.tableRow:nth-child(odd) .tableData {
  background-color: hsl(0, 0%, 98%);
}

.tableRow:hover .tableData {
  background-color: hsl(0, 0%, 88%);
  cursor: pointer;
}
