@use '@/sass/abstracts' as *;

.main {
  margin-top: 2rem;
  font-family: 'Michroma', sans-serif;

  @include mq(md) {
    @include flex-config($justify: space-between, $align: center);
  }
}

.sectionCountryInfo {
  @include mq(md) {
    width: 40%;
  }
}

.countryWrapper {
  @include flex-config($align: center, $justify: space-between);
  margin: var(--wrapper-spacing);
}

.countryName {
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: var(--fw-bold);
}

.countryFlag {
  width: 30%;
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 100%, 0.18);
}

.countryInfo {
  @include flex-config($justify: space-between, $align: center);
  margin: var(--wrapper-spacing);
}

.countryCapital {
  writing-mode: vertical-rl;
  transform: scale(-1);
  font-size: clamp(1.5rem, 3vw, 2rem);
  letter-spacing: 1rem;
}

.countryInfoExplore {
  @include flex-config($direction: column);
  width: 50%;
  line-height: 1.5;
}

.countryText {
  font-size: clamp(1.3rem, 2vw, 2rem);
}

.contryExploreWrapper {
  @include flex-config();
  margin-top: 2rem;
}

.countryExplore {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &::after {
    content: '';
    @include position($pos: absolute, $top: 2rem, $left: 0);
    width: 30%;
    border-top: 2px solid;
    transition: all 0.2s ease;
  }
}

.arrow {
  margin-left: 2rem;
}

.countryExploreFlag {
  width: 3rem;
  margin-left: 2rem;
}

.sectionTranslations {
  @include flex-config($direction: column, $align: center);
  gap: 2rem;
  margin: var(--wrapper-spacing);

  @include mq(sm) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}

.language {
  font-size: 1.2rem;
  color: var(--clr-gray-700);

  &:not(:first-of-type) {
    margin-top: 0.5rem;
  }
}

.translationsImg {
  box-shadow: var(--box-shadow);
}

.sectionPhotos {
  width: 80%;
  margin: 5rem auto 0 auto;

  @include mq(md) {
    width: 50%;
    height: 100%;
  }
}

.sectionWeather {
  margin: var(--wrapper-spacing);
}
