@use '@/sass/abstracts' as *;

.main {
  position: relative;
  min-height: 100vh;
  background-image: url('@/assets/images/explore.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: hsla(191, 86%, 25%, 0.4);
  inset: 0;
  z-index: 1;
}

.heroContent {
  position: relative;
  min-height: 100vh;
  @include flex-config($direction: column, $justify: center, $align: center);
  z-index: 2;

  @include mq(lg) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.heroSectionHeadings {
  @include mq(lg) {
    width: 40%;
  }
}

.heroParagraph {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: var(--clr-blue-400);
  font-weight: var(--fw-bold);
}

.heroPrimaryHeading {
  font-size: clamp(3rem, 3vw, 6rem);
  color: var(--clr-blue-200);
  margin-top: 1rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.heroSecondaryHeading {
  font-size: clamp(1.3rem, 2vw, 1.8rem);
  color: var(--clr-blue-200);
  margin-top: 1rem;
}

.sectionSwiper {
  margin-top: 10rem;

  @include mq(lg) {
    width: 50%;
  }
}
